name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
      - run: make license-check

  build:
    runs-on: ${{ matrix.os }}
    needs: [license-check]
    strategy:
      matrix:
        include:
          - { goos: "linux", goarch: "amd64", os: "ubuntu-24.04" }
          - { goos: "linux", goarch: "amd64", os: "ubuntu-22.04" }
          - { goos: "linux", goarch: "arm64", os: "ubuntu-24.04-arm" }
          - { goos: "linux", goarch: "arm64", os: "ubuntu-22.04-arm" }
          - { goos: "windows", goarch: "amd64", os: "windows-2025" }
          - { goos: "windows", goarch: "amd64", os: "windows-2022" }
          - { goos: "windows", goarch: "arm64", os: "windows-11-arm" }
          - { goos: "darwin", goarch: "amd64", os: "macos-15-intel" }
          - { goos: "darwin", goarch: "amd64", os: "macos-13" }
          - { goos: "darwin", goarch: "arm64", os: "macos-26" }
          - { goos: "darwin", goarch: "arm64", os: "macos-15" }
          - { goos: "darwin", goarch: "arm64", os: "macos-14" }
      fail-fast: false
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
      - run: make build GOFLAGS="-v"
