name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
      - run: make license-check

  lint:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
      - run: |
          GOLANGCI_LINT_VERSION="$(grep '^GOLANGCI_LINT_VERSION' Makefile | cut -d '=' -f2 | xargs)"
          echo "GOLANGCI_LINT_VERSION=${GOLANGCI_LINT_VERSION}" >> "${GITHUB_ENV}"
      - uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v${{ env.GOLANGCI_LINT_VERSION }}

  build:
    runs-on: ${{ matrix.os }}
    needs: [license-check]
    strategy:
      matrix:
        include:
          - { goos: "linux", goarch: "amd64", os: "ubuntu-24.04" }
          - { goos: "linux", goarch: "amd64", os: "ubuntu-22.04" }
          - { goos: "linux", goarch: "arm64", os: "ubuntu-24.04-arm" }
          - { goos: "linux", goarch: "arm64", os: "ubuntu-22.04-arm" }
          - { goos: "darwin", goarch: "amd64", os: "macos-15-intel" }
          - { goos: "darwin", goarch: "arm64", os: "macos-26" }
          - { goos: "darwin", goarch: "arm64", os: "macos-15" }
          - { goos: "darwin", goarch: "arm64", os: "macos-14" }
          - { goos: "windows", goarch: "amd64", os: "windows-2025" }
          - { goos: "windows", goarch: "amd64", os: "windows-2022" }
          - { goos: "windows", goarch: "arm64", os: "windows-11-arm" }
      fail-fast: false
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
      - run: |
          BIFROST_VERSION="$(grep '^BIFROST_VERSION' Makefile | cut -d '=' -f2 | xargs)"
          BASE_VERSION="${BIFROST_VERSION}-canary.${{ github.run_number }}"
          VERSION="${BASE_VERSION}+${{ github.sha }}.$(date -u +"%Y%m%d%H%M%S")"
          echo "VERSION=${VERSION}" >> "${GITHUB_ENV}"
          echo "ARTIFACT_NAME=bifrost-${BASE_VERSION}-${{ matrix.goos }}-${{ matrix.goarch }}" >> "${GITHUB_ENV}"
      - run: make build GOFLAGS="-v" VERSION="${{ env.VERSION }}"
      - uses: actions/upload-artifact@v4.6.2
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: bifrost
          if-no-files-found: error

  test:
    runs-on: ${{ matrix.os }}
    needs: [build]
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-15-intel
          - macos-15
          - windows-2022
          - windows-11-arm
      fail-fast: false
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
      - run: make test GOFLAGS="-v"
